<%= page_header 'Edit Website' %>

<% if admin? -%>
<ul class="breadcrumb">
  <li>
    <%= link_to 'Websites', websites_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Website
  </li>
</ul>
<% end -%>

<%= render 'form', :submit_label => "Save" %>
