= page_header 'New Website'

- if admin?
  ul.breadcrumb
    li
      = link_to 'Websites', websites_path
      span.divider= '/'
    li.active New Website

= render 'form', submit_label: 'Create New Website'
