<%= page_header 'New Carousel Slide' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Carousel Slides', admin_carousel_slides_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Carousel Slide
  </li>
</ul>

<%= render 'form' %>
