<div class="page-header">
  <h1>New Liquid Template</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Liquid Templates', liquid_templates_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Liquid Template
  </li>
</ul>

<%= render 'form' %>
