<h1><%= link_to 'Liquid Templates', liquid_templates_path %> &rarr; New Liquid Template</h1>
<%= flash_notice %>

<div class="form">
  <%= error_messages_for :liquid_template -%>

  <fieldset>
    <legend>Add a new Liquid template</legend>
    <%= render 'form' %>
  </fieldset>
</div>
