<%= page_header 'New Liquid Template' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Liquid Templates', liquid_templates_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Liquid Template
  </li>
</ul>

<%= render 'form' %>
