= page_header 'New Quantity/Price Rule'

= breadcrumbs({ 'Products' => products_path, @quantity_price.product.name => edit_product_path(@quantity_price.product) }, 'New Quantity/Price Rule')

= render 'form'
