<%= page_header 'New Quantity/Price Rule' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @quantity_price.product.name, edit_product_path(@quantity_price.product) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Quantity/Price Rule
  </li>
</ul>

<%= render 'form' %>
