<h1>New Quantity/Price Rule</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :quantity_price -%>

	<fieldset>
		<legend>Add a new quantity/price rule</legend>
    <% form_for @quantity_price do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Add New Quantity/Price Rule" %>

  <% end %>
  </fieldset>
</div>
