= page_header 'New Quantity/Price Rule'

= breadcrumbs({ 'Products' => admin_products_path, @quantity_price.product.name => edit_admin_product_path(@quantity_price.product) }, 'New Quantity/Price Rule')

= render 'form'
