# Ignore bundler config.
/.bundle

# Ignore Simplecov output.
/coverage

*.doc
*.jpg
*.gif
*.odt
*.pdf
*.psd
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore generated docs.
/doc/app

# We cannot distribute Museo Sans.
/fonts/MuseoSans_500.ttf

# Ignore all logfiles and tempfiles.
/log/*.log
database.yml
/tmp

# Ignore uploaded images.
/public/up/images
