# Ignore bundler config.
/.bundle

*.doc
*.jpg
*.gif
*.odt
*.pdf
*.png
*.psd
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# We cannot distribute Museo Sans.
/fonts/MuseoSans_500.otf

# Ignore all logfiles and tempfiles.
/log/*.log
database.yml
/tmp
