# Ignore bundler config
/.bundle
.rspec
.DS_Store
*.doc
*.jpg
*.gif
*.graffle
*.odt
*.pdf
*.png
*.psd
# Ignore the default SQLite database.
/db/*.sqlite3
/log/*.log
*.ttf
database.yml
rerun.txt
/tmp
.sass-cache/
