input type="hidden" name="return" value="#{payments_paypal_auto_return_url}"
input type="hidden" name="notify_url" value="#{payments_paypal_ipn_listener_url}"
input type="hidden" name="cmd" value="_xclick"
input type="hidden" name="business" value="#{website.paypal_email_address}"
input type="hidden" name="currency_code" value="GBP"
input type="hidden" name="item_name" value="#{@order.order_number}"
- if website.skip_payment?
  input type="hidden" name="amount" value="0.01"
- else
  input type="hidden" name="amount" value="#{@order.total}"
input type="hidden" name="shipping" value="0.00"
input type="hidden" name="tax" value="0.00"
