input type="hidden" name="checkcode" value="#{website.upg_atlas_check_code}"
input type="hidden" name="secuitems" value="#{upg_atlas_secuitems(@order.order_lines)}"
input type="hidden" name="filename" value="#{website.upg_atlas_sh_reference}/#{website.upg_atlas_filename}"
input type="hidden" name="shippingcharge" value="0"
input type="hidden" name="shreference" value="#{website.upg_atlas_sh_reference}"
input type="hidden" name="callbackurl" value="#{payments_upg_atlas_callback_url(protocol: :https)}"
input type="hidden" name="callbackdata" value="#{upg_atlas_callbackdata(@order)}"
input type="hidden" name="transactionamount" value="#{@order.total}"
input type="hidden" name="transactioncurrency" value="GBP"
input type="hidden" name="transactiontax" value="0"

input type="hidden" name="cardholdersname" value="#{@order.billing_full_name}"
input type="hidden" name="cardholdersemail" value="#{@order.email_address}"
input type="hidden" name="cardholderaddr1" value="#{@order.billing_address_line_1}"
input type="hidden" name="cardholderaddr2" value="#{@order.billing_address_line_2}"
input type="hidden" name="cardholdercity" value="#{@order.billing_town_city}"
input type="hidden" name="cardholderstate" value="#{@order.billing_county}"
input type="hidden" name="cardholderpostcode" value="#{@order.billing_postcode}"
input type="hidden" name="cardholdercountry" value="#{@order.billing_country.name}"
input type="hidden" name="cardholdertelephonenumber" value="#{@order.billing_phone_number}"
