<div class="pay-by">
  <form action="https://gateway.yorkshirepayments.com/paymentform/" method="post">
    <%= render "checkout/yorkshire_payments_hidden_fields" %>
    <input type="submit" value="Pay Securely">
  </form>
</div>
