h1= t('checkout.checkout')

h2= t('.your_details')

p= "#{h(session[:name])}<br>#{h(session[:email])}<br>#{h(session[:phone])}".html_safe

p= link_to t('.edit_details'), checkout_details_path

h2= t('.billing_address')
= format_address @billing_address
- if logged_in?
  p= link_to t('.change_address'), choose_billing_address_addresses_path
p= link_to t('.edit_address'), billing_details_path

h2= t('.delivery_address')
= format_address @delivery_address
- if logged_in?
  p= link_to t('.change_address'), choose_delivery_address_addresses_path
p= link_to t('.edit_address'), delivery_details_path

h2= t('.your_basket')
= render partial: 'basket/basket', object: @basket, locals: {can_update: false, shipping_amount: @shipping_amount, shipping_tax_amount: @shipping_tax_amount, inc_tax: @inc_tax}

- if website.terms_and_conditions.present?
  .terms_and_conditions#checkout_terms_and_conditions
    = raw textilize(website.terms_and_conditions)

- if website.preferred_delivery_date_settings
  h2= website.preferred_delivery_date_settings.prompt
  p= select_tag(:preferred_delivery_date, website.preferred_delivery_date_settings.options.html_safe)

= render 'select_payment_method'
