<%= page_header 'Edit Shipping Zone' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Shipping Zones', shipping_zones_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    Edit Shipping Zone
  </li>
</ul>

<%= render 'form' %>

<h2>Countries</h2>
<% if @shipping_zone.countries.empty? %>
<p>There are no countries in this shipping zone.</p>
<% else %>
<p>
  The following countries are in this shipping zone:
</p>

<ul>
<% @shipping_zone.countries.each do |country| %>
  <li><%= country.name %></li>
<% end %>
</ul>
<% end %>
