<h1>Shipping Zones</h1>
<%= flash_notice %>
<p>
  <%= link_to 'New', new_shipping_zone_path %>
</p>
<% unless @shipping_zones.empty? -%>
<table>
  <thead>
    <tr>
      <th>Shipping Zone</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<% @shipping_zones.each do |zone| %>
    <tr>
      <td><%= link_to zone.name, edit_shipping_zone_path(zone) %></td>
      <td><%= link_to "Delete", { :action => "destroy", :id => zone.id },
  		 						 :confirm => 'Are you sure?',
  								 :method => :delete %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>