<div class="page-header">
  <h1>Shipping Zones</h1>
</div>

<p>
  <%= link_to 'New', new_shipping_zone_path, class: 'btn btn-primary' %>
</p>

<% unless @shipping_zones.empty? -%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Shipping Zone</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<% @shipping_zones.each do |zone| %>
    <tr>
      <td><%= zone.name %></td>
      <td>
        <%= link_to '<i class="icon-edit"></i> Edit'.html_safe,
        edit_shipping_zone_path(zone), class: 'btn btn-mini' %>
        <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, zone,
        confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %>
      </td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>