<h1>New Shipping Zone</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :shipping_zone -%>

  <% form_for @shipping_zone do |form| %>
  <%= render :partial => 'form', :object => form %>

  <%= submit_tag "Save" %>

  <% end %>
</div>
