<%= page_header 'New Shipping Zone' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Shipping Zones', shipping_zones_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Shipping Zone
  </li>
</ul>

<%= render 'form' %>
