<h1>Shipping Classes</h1>
<%= flash_notice %>
<p>
  <%= link_to 'New', new_shipping_class_path %>
</p>
<% unless @shipping_classes.empty? -%>
<table>
  <thead>
    <tr>
      <th>Shipping Class</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
<% @shipping_classes.each do |shipping_class| %>
    <tr>
      <td><%= link_to shipping_class.name + ', ' + shipping_class.shipping_zone.name, edit_shipping_class_path(shipping_class) %></td>
      <td><%= link_to "Delete", { :action => "destroy", :id => shipping_class.id },
  		 						 :confirm => 'Are you sure?',
  								 :method => :delete %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<% end -%>