<%= page_header 'New Shipping Class' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Shipping Classes', shipping_classes_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Shipping Class
  </li>
</ul>

<%= render 'form' %>
