= page_header 'Edit Additional Product'

= breadcrumbs({ 'Products' => products_path, @additional_product.product.name => edit_product_path(@additional_product.product) }, 'Edit Additional Product')

= render 'form'
