= page_header t('.heading')

= breadcrumbs({ t('.products') => admin_products_path, @additional_product.product.name => edit_admin_product_path(@additional_product.product) }, t('.heading'))

= render 'form'
