= page_header 'New Additional Product'

= breadcrumbs({ 'Products' => admin_products_path, @additional_product.product.name => edit_admin_product_path(@additional_product.product) }, 'New Additional Product')

= render 'form'
