<%= page_header 'New Additional Product' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @additional_product.product.name, edit_product_path(@additional_product.product) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Additional Product
  </li>
</ul>

<%= render 'form' %>
