body {
	background: #eee;
	color: #333;
	font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

div, li, p, td {
  font-size: 13px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 1px;
  font-size: 1px;
}

#flash_notice {
  padding: 10px;
  color: #000;
  border: 1px solid #edebcd;
  background: #fefdec;
  font-size: 11px;
}

#wrapper {
	background: #fff;
	border: 1px solid #222;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#primary_nav {
	font-size: 13px;
	font-weight: bold;
	height: 24px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: #4580D5;
	border-top: 1px solid #fff;
}

#primary_nav li {
	float: left;
	line-height: 24px;
}

#primary_nav .n_current, #primary_nav a {
  padding: 0 20px;
}

#primary_nav .n_current {
  color: yellow;
}

#primary_nav a {
	display: block;
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

#primary_nav a:hover {
	background: #266ab7;
}

#header {
	display: block;
	height: 144px;
	background: #266ab7;
}

#header span { display: none; }

#content {
  padding: 12px 24px;
}

h1 { color: #c00; font-size: 16px; margin: 12px 0; }

#footer {
	background: #4580D5;
	color: #fff;
	border-top: 1px solid #333;
	font-size: 11px;
	line-height: 24px;
	text-align: center;
}
#footer a {
  color: #fff;
  text-decoration: none;
}

#no_ajax { display: none; }
.required { color: red; font-weight: bold; }

/**
 * forms
 */

form.button-to {
  margin: 0;
}

.fieldWithErrors {
	display: inline;
}
.fieldWithErrors label {
	color: red;
}

.form legend {
  font-weight: bold;
}
.form fieldset { 
	margin: 0 0 12px 0;
	border: 1px solid #ECE6D2;
	padding: 8px 12px;
	background-color: #FCFBF7;
	line-height: 24px;
}
.form div {
	line-height: 24px;
	margin-bottom: 12px;
}
.form .text {
	width: 450px;
}
.form .short {
	width: 200px;
}
.form .tiny {
	width: 100px;
}
.form .radio {
	vertical-align: top;
}
.form textarea.short {
	width: 300px; height: 72px;
}
.form textarea.large {
	width: 640px;
	height: 420px;
}

#images_list li {
  float: left;
  list-style: none;
  width: 100px;
  height: 100px;
}

#images_list .image_thumbnail {
  text-align: center;
  background: #fff;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  width: 64px;
  height: 64px;
}
#images_list .image_thumbnail a img {
  border: none;
}
#images_list .image_name {
  font-size: 10px;
  text-align: center;
  overflow: hidden;
}

/**
 * Products
 */

.product .quantity input {
  width: 3em;
}