- if Orders::SalesConversion.new(@order).should_record?
  = render "shared/google_analytics_code"
  = record_sales_conversion(@order)

h1#ready-to-close Please wait&hellip;

javascript:
  $(function() {
    setTimeout(function() {
      var redirectTo = '#{j params[:redirect_to]}';
      if (redirectTo) {
        window.location = redirectTo;
      } else {
        $('#ready-to-close').html('The sales conversion for this order should now be recorded.');
      }
    }, 2000);
  });
