h1= t('checkout')

h2= t('.delivery_address')
- if @address.new_record?
  = form_for @address do |f|
    = render partial: 'addresses/form', object: f
    = submit_tag 'Next'
- else
  = format_address @address
  - if logged_in?
    p= link_to t('.change_address'), choose_delivery_address_addresses_path
  - else
    p= link_to t('.change_address'), controller: 'addresses', action: 'edit', id: @address.id

h2= t('.your_basket')
= render partial: 'basket', object: @basket, locals: {can_update: false, shipping_amount: @shipping_amount, shipping_tax_amount: @shipping_tax_amount, inc_tax: @inc_tax}

- unless @address.new_record?
  = form_tag action: 'place_order' do
    - unless @w.terms_and_conditions.empty?
      .terms_and_conditions#checkout_terms_and_conditions
        = raw textilize(@w.terms_and_conditions)
    - if @w.preferred_delivery_date_settings
      h2= @w.preferred_delivery_date_settings.prompt
      p= select_tag(:preferred_delivery_date, @w.preferred_delivery_date_settings.options.html_safe)
    #place_order
      = submit_tag t('.place_order')
