<h1><%= I18n.t('cart') %></h1>
<%= flash_notice %>
<% if @page -%>
<p><%= link_to (I18n.t('continue_shopping') + '&hellip;').html_safe, page_url(@page) %></p>
<% end -%>
<% if @basket.basket_items.empty? -%>
<p>Your basket is empty.</p>
<% else -%>
<%= render :partial => 'basket', :object => @basket, :locals => {:can_update => true, :shipping_amount => nil, :inc_tax => @inc_tax} %>
<% end -%>
