<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Free Search</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |u| -%>
    <tr>
      <td><%= link_to h(u.name), :controller => 'users', :action => 'show', :id => u %></td>
      <td><%= mail_to u.email, u.email %>&nbsp;</td>
      <td><%= 'Y' if u.admin? %></td>
      <td><%= 'Y' if u.free_search? %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
