<% content_for :title, t(".title", website: website) %>

<h1>Email sent</h1>

<p>
  An email has been sent showing how to reset and change your password.
  Please check your inbox in a few minutes.
</p>
