<h1>Pages</h1>
<%= flash_notice %>
<p><%= link_to 'New page', :action => 'new' %></p>

<table>
<% @pages.each do |p| %>
  <%= page_tree p %>
<% end %>

<%= content_tag(:tr, content_tag(:td, 'No pages')) if @pages.empty? %>
</table>