<div class="page-header">
  <h1>New Page</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Pages', pages_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Page
  </li>
</ul>

<%= render 'form', submit_label: 'Create New Page' %>
