= page_header 'Product Groups'

p= link_to 'New Product Group', new_product_group_path, class: 'btn btn-primary'

- unless @product_groups.empty?
  table.table.table-striped.table-bordered
    tr
      th Product Group
      th Actions
    - @product_groups.each do |p|
      tr
        td= p.name
        td style="width: 200px;"
          => edit_button(p)
          = delete_button(p)
