<%= page_header 'New Product Group' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Product Groups', product_groups_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Product Group
  </li>
</ul>

<%= render 'form' %>
