<h1>New Product Group</h1>
<%= flash_notice %>

<div class="form">
	<%= error_messages_for :product_group -%>

	<fieldset>
		<legend>Add a new product group</legend>
    <% form_for @product_group do |form| %>
    <%= render :partial => 'form', :object => form %>

    <%= submit_tag "Create New Product Group" %>

  <% end %>
  </fieldset>
</div>