<div class="page-header">
  <h1>New Carousel Slide</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Carousel Slides', carousel_slides_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Carousel Slide
  </li>
</ul>

<%= render 'form' %>
