.address-actions
  ul
    li= link_to t(".#{source}_add"), new_address_path
    li= link_to t('.edit_or_delete'), addresses_path(source: source)

.address-book
  - @addresses.each do |address|
    .address-container
      .address
        p
          strong= address.full_name
          br
          = address.address_line_1
          br
          = address.address_line_2
          br
          = address.town_city
          br
          = address.county
          br
          = address.postcode
          br
          = address.country
        p.address-deliver-to
          = form_tag(action: "select_for_#{source}", id: address.id) do
            = submit_tag t(".select_#{source}_address")
