<h1>New Address</h1>
<div class="form">
<%= error_messages_for :address -%>
<% form_for @address do |f| %>
  <%= render :partial => 'form', :object => f %>
  <%= submit_tag 'Save' %>
<% end %>
</div>
