<h1>New Country</h1>
<%= flash_notice %>
<div class="form">
	<%= error_messages_for :country -%>

  <% form_for @country do |form| %>
  <%= render :partial => 'form', :object => form %>

  <%= submit_tag "Save" %>

  <% end %>
</div>
