<div class="page-header">
  <h1>New Country</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Countries', countries_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Country
  </li>
</ul>

<%= render 'form' %>
