<div class="page-header">
  <h1>Discounts</h1>
</div>

<p>
  <%= link_to 'New Discount', new_discount_path, class: 'btn btn-primary' %>
</p>

<% if @discounts.empty? -%>
<p>There are no discounts set up yet.</p>
<% else -%>
<table class="table table-bordered table-striped">
<% @discounts.each do |discount| -%>
  <tr><td><%= link_to discount.name, edit_discount_path(discount) %></td>
    <td>
      <%= edit_button(discount) %>
      <%= delete_button(discount) %>
    </td>
  </tr>
<% end -%>
</table>
<% end -%>
