<h1>Discounts</h1>
<%= flash_notice %>
<p><%= link_to 'New discount', new_discount_path %></p>
<% if @discounts.empty? -%>
<p>There are no discounts set up yet.</p>
<% else -%>
<table>
<% @discounts.each do |discount| -%>
  <tr><td><%= link_to h(discount.name), edit_discount_path(discount) %></td>
    <td><% form_tag discount_path(discount), :method => :delete do -%>
      <input type="submit" value="Remove discount" /></td>
    <% end -%>
  </tr>
<% end -%>
</table>
<% end -%>
