<% content_for(:title, t(".title", website: website)) %>
<h1><a href="<%= account_path %>">My Account</a> › Change your password</h1>
<p>
  From this page you can change your password to something more memorable.
</p>
<%= form_tag(account_update_password_path) do %>
  <label for="password">New password</label>
  <%= password_field_tag :password, "", required: true %>

  <label for="password_confirmation">(confirm)</label>
  <%= password_field_tag :password_confirmation, "", required: true %>

  <div class="submit">
    <input type="submit" value="Save changes">
  </div>
<% end %>
