<%= page_header 'New Component' %>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', admin_products_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @component.product.name, edit_admin_product_path(@component.product) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Component
  </li>
</ul>

<%= render 'form' %>
