body {
  background: #eee;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 16px;
}

.flashNotice {
  padding: 10px;
  color: #000;
  border: 1px solid #edebcd;
  background: #fefdec;
  font-size: 11px;
}

.wrapper {
  background: #fff;
  padding: 16px;
}

.primaryNav {
  background: #666;
  display: flex;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #fff;

  li {
    line-height: 24px;
  }
}

.primaryNav .n_current,
.primaryNav a {
  padding: 4px 16px;
}

.primaryNav .n_current {
  color: yellow;
}

.primaryNav a {
  display: block;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.primaryNav a:hover {
  background: #ccc;
  color: #000;
}

.header {
  display: block;
  height: 144px;
  background: #266ab7;
}

.header span {
  display: none;
}

.content {
  padding: 12px 24px;
}

h1 {
  color: #c00;
  margin: 12px 0;
}

footer[role="contentinfo"] {
  background: #333;
  color: #fff;
  line-height: 24px;
  margin-top: 24px;
  padding: 64px 32px;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
  }
}

#no_ajax {
  display: none;
}
.required {
  color: red;
  font-weight: bold;
}

/**
 * forms
 */

form.button-to {
  margin: 0;
}

.fieldWithErrors {
  display: inline;
}
.fieldWithErrors label {
  color: red;
}

.form legend {
  font-weight: bold;
}
.form fieldset {
  margin: 0 0 12px 0;
  border: 1px solid #ece6d2;
  padding: 8px 12px;
  background-color: #fcfbf7;
  line-height: 24px;
}
.form div {
  line-height: 24px;
  margin-bottom: 12px;
}
.form .text {
  width: 450px;
}
.form .short {
  width: 200px;
}
.form .tiny {
  width: 100px;
}
.form .radio {
  vertical-align: top;
}
.form textarea.short {
  width: 300px;
  height: 72px;
}
.form textarea.large {
  width: 640px;
  height: 420px;
}

#images_list li {
  float: left;
  list-style: none;
  width: 100px;
  height: 100px;
}

#images_list .image_thumbnail {
  text-align: center;
  background: #fff;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  width: 64px;
  height: 64px;
}
#images_list .image_thumbnail a img {
  border: none;
}
#images_list .image_name {
  font-size: 10px;
  text-align: center;
  overflow: hidden;
}

/**
 * Products
 */

.product .quantity input {
  width: 3em;
}
