= bootstrap_form_for [:admin, @image], html: { multipart: true } do |form|
  = form.file_field :file, label: "Image (.jpeg, .jpg, .gif, .png)", required: @image.new_record?
  = form.text_field :name, required: true
  = submit_tag button_label, class: "btn btn-primary"
