<h1>Products</h1>
<%= flash_notice %>
<p><%= link_to 'New product', new_product_path %></p>
<ul>
  <% @products.each do |p| -%>
  <li><%= link_to p.name, edit_product_path(p) %></li>
  <% end -%>
  <%= content_tag(:li, 'No products') if @products.empty? -%>
</ul>
