<div class="page-header">
  <h1>New Product</h1>
</div>

<ul class="breadcrumb">
  <li>
    <%= link_to 'Products', products_path %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    New Product
  </li>
</ul>

<%= render 'form' %>
