<div data-controller="admin-search" data-admin-search-url-base="<%= url_base %>">
  <div class="modal fade" id="search-results" tabindex="-1" role="dialog" aria-labelledby="results-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="results-label" class="modal-title">Results</h4>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <span id="results-body">
          </span>
        </div>
      </div>
    </div>
  </div>

  <form id="search" class="form-inline">
    <div class="input-group">
      <input class="form-control search-query" type="text" name="query">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">
          <%= icon_search %>
          Search
        </button>
      </div>
    </div>
  </form>
</div>
