<script>
$(function() {
  $('#search button').click(function() {
    $.getJSON('<%= url_base %>search',
      {
        query: $('#search input').val()
      },
      function(data) {
        var items = [];
        if(data.length == 0) {
          items.push('<li>No results found</li>');
        }
        $.each(data, function(key, result) {
          var i = '<li><a href="<%= url_base %>' + result.id + '/edit">' + result.name + '</a></li>';
          items.push(i);
        });
        $('#results-body').replaceWith(
          $('<ul/>', {
            'id': 'results-body',
            html: items.join('')
          })
        );
        $('#search-results').modal('show');
      }
    );
    return false;
  });
});
</script>

<div class="modal fade" id="search-results" tabindex="-1" role="dialog" aria-labelledby="results-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="results-label" class="modal-title">Results</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="results-body">
        </span>
      </div>
    </div>
  </div>
</div>

<form id="search" class="form-inline">
  <div class="input-group">
    <input class="form-control search-query" type="text" name="query">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">
        <%= icon_search %>
        Search
      </button>
    </div>
  </div>
</form>
